
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$goldleaf:#DAC7A0;
$bloody:#751616;
$white:#E4E4E4;
$paper:#FBF0DB;
$dark:#17181A;
$alice:aliceblue;
$void:black;

html{
    overflow: hidden;
}

body{
  transition: background, color, 0.25s ease-out;
  font-family: 'Lato', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;

  &[data-theme='white']{
    background: #e4e4e4;
    color: black;
  }

  &[data-theme='paper']{
    background: #fbf0db;
    color: black;
  }

  &[data-theme='dark']{
    background: #17181a;
     color: aliceblue;
  }
}

input{
  border-radius: 1.3px;
}
input[type='submit']{
  background: $goldleaf;
  border: none;
  box-sizing: border-box;
  padding: 8px 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
}
input[type='text']{
  &:focus{
    outline: none;
  }
      border: none;
      box-sizing: border-box;
      padding: 8px 12px;
}

#home{
  background: $dark;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  img{
    position: absolute;
    object-fit: cover;
    width: 100%;
  }
  #urlContent{
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    h2{
      color: $goldleaf;
      font-size: 3rem;
    }

    #maininput{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      margin-bottom: 100px;
      input[type='text']{
        min-width: 30vw;
        margin-right: 10px;
      }
    }


  }
}


#settings{
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  pointer-events: none;

  & > *{
    pointer-events: auto;
  }
  .theme_select{
    position: absolute;
    display: flex;
    flex-direction: row;

    span{
      margin: 0 5px;
      border: solid white 2px;
      box-shadow: 0 3px 5px rgba(#000000, 0.20);
      width: 30px;
      height: 30px;
      display: block;
      border-radius: 100%;
      cursor: pointer;

    }
  }
  .para_change{
    position: absolute;
    bottom: 30px;
    button{
      width: 50px;
      height: 50px;
      margin-right: 12px;
    }
  }
}
#scene{
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  top:45vh;
  box-sizing: border-box;
  padding: 0 20%;

  p{
    opacity: 0;
    transform: scale(0.8);
    transition: transform, opacity, 0.4s ease;
    pointer-events: none;
    &.active{
      pointer-events: auto;
      opacity: 1;
      transform: scale(1);
      & ~ *{
        opacity: 0.3;
      }
    }
  }

  .paragraph{
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 800px) {

  #home{
    #painting{
      img{
        &[data-type='cloud']{
          &:first-of-type{ transform: translateX(-70%); }
          &:not(:first-of-type){ transform: translateX(70%) scaleX(-1); }
        }
      }
    }
  }

}


@media only screen and (max-width: 450px) {

  #scene{
    padding: 0 10%;
    top:35%;
  }

    #urlContent{
      #maininput{
        input[type='text']{ min-width: 60vw; }
      }
    }

}
